@charset "utf8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #026E81, #A1C7E0);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0099DD;
    }
    h2{
        color: #00ABBD;
    }
    p {
        color: #FF9933
        ;
    }

p{
    text-align: justify;
}